:root {
	--primary-color: #111;
	--gray-hover: #808080;
	--black-hover: #383838;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition-duration: 0.3s;
}
li {
	list-style: none;
}

/* Navbar */
nav {
	background: var(--primary-color);
	padding: 0.5rem 1rem;
	color: white;
	display: flex;
	justify-content: space-between;
	font-weight: 500;
}
.nav-items {
	display: flex;
}
.nav-item {
	padding-left: 25px;
}

/* App content */
.app-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 100vw;
	min-height: 100%;
	padding: 1rem;
}
.search {
	margin: 1rem;
	padding: 0.5rem 0.8rem;
	width: 100%;
	outline: none;
}
.search-btn {
	width: 100%;
	padding: 0.5rem;
	border: none;
	background: var(--primary-color);
	color: white;
	margin: 0.5rem;
}
.clear-btn {
	width: 100%;
	padding: 0.5rem;
	border: none;
	margin: 0.5rem;
}
.clear-btn:hover {
	background: var(--gray-hover);
}
.search-btn:hover {
	background: var(--black-hover);
}
.users {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}
.user-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border: 2px solid var(--gray-hover); */
}
.avatar-img {
	width: 60px;
	border-radius: 50%;
}
.link-btn {
	background: var(--primary-color);
	padding: 0.5rem;
	color: white;
	text-decoration: none;
}
.overall {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}
